@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
html {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}
