.property-slider {
  padding-bottom: 3rem !important;
}

.swiper-pagination-bullet {
  width: 24px;
  height: 2px;
  background: #e5e7eb;
  opacity: 1;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: #000000;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000000;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}
